* {
    background: #252525;
    color: antiquewhite;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item-flex {
    margin: 0.5em;
    padding: 1em;
    border: solid salmon 2px;
    text-align: center;
}
.item-flex:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}
.item-flex:focus {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);

}
img {
    width: 10em;
    height: auto;
}